#staff-faces {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}
#staff-faces img {
    border-radius: 50%;
    margin: 15px 10px 0px;
    width: 60px;
    height: 60px;
}
.staff-active {
    border: 3px solid rgb(var(--purple));
}

#staff-person {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
#mark {
    width: 600px;
}

.flip-card {
    background-color: transparent;
    width: 280px;
    height: 380px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 150px auto;
  }
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

.profile-image {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.profile-image img {
    width: 280px;
    height: 380px;
    display: block;
    transition: ease-in-out 0.3s;
}
.image_hover_bg {
   background: url("../assets/mark-baby.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
   width: 280px;
   height: 380px;
   position: absolute;
   top: 0;
   z-index: -1;
   /* display:none; */
}
/* .profile-image:hover .image_hover_bg {
    display:block
} */
.profile-image img:hover {
    opacity: 0;
}