* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #000;
}
:root {
    --purple: rgb(143, 0, 143);
    --blue: rgb(0, 119, 255);
}
/* @media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
} */

/* NAVBAR */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    backdrop-filter: blur(4px);
    z-index: 100;
}
#nav-left img {
    width: 200px;
    margin: 0px 0px 0px 50px;
}
#nav-right {
    margin-right: 50px;
}
#nav-right a {
    font-size: 24px;
    transition: ease-in-out 0.2s;
    padding: 22px 25px;
}
#nav-right a:hover {
    background-color: var(--purple);
    color: #fff;
}

/* HEAD */
header {
    width: 100%;
    margin: 100px 0px 35px 0px;
    display: flex;
    flex-direction: column;
}
header img {
    width: 100%;
}
#header-blocks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    margin-top: -40px;
}
#header-blocks a {
    font-size: 36px;
    color: #fff;
    padding: 15px 25px;
    margin-right: 10px;
    letter-spacing: 1px;
    transition: ease-in-out 0.3s;
}
#purple-box {
    background-color: var(--purple);
}
#blue-box {
    background-color: var(--blue);
}
#header-blocks a:hover {
    margin-top: -7.5px;
    cursor: pointer;
}

#first-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
h1 {
    font-size: 54px;
}
.purple-hr {
    width: 30%;
    border-top: 8px solid var(--purple);
    margin: 10px 0px 35px;
}
#info-img {
    position: relative;
    margin: 0px 0px 0px -400px;
}
#info-img img {
    width: 550px;
}
#info-block {
    width: 550px;
    height: 325px;
    background-color: rgba(255, 255, 255, 0.68);
    backdrop-filter: blur(4px);
    position: relative;
    margin: -150px 0px 0px 400px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#info-block p {
    text-align: center;
}
#pre-enrolling {
    font-size: 26px;
    width: 75%;
    margin-top: 60px;
}
#enrolling {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 15px;
    font-size: 32px;
    font-weight: 500;
    background-color: var(--blue);
    color: #fff;
    padding: 10px 0px;
}

/* LOCATIONS */
#locations {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
#locations h2 {
    font-size: 54px;
}
#location-blocks {
    display: flex;
    justify-content: space-around;
    width: 56%;
}
.location {
    height: 500px;
    width: 365px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.loc1 {
    background-image: url(./assets/matthews-township.jpg); 
}
.loc2 {
    background-image: url(./assets/charlotte-uptown.jpg); 
}
.location p {
    color: #fff;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    padding: 5px 0px 5px 15px;
}
.city {
    font-size: 42px;
}
.state-initials {
    font-size: 26px;
}

/* BOTTOM CONTACT */
#contact-bottom {
    display: flex;
    flex-direction: column;
    padding: 15px;
}
#contact-bottom h3 {
    font-size: 28px;
}
#social-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
}
#facebook {
    width: 60px;
    margin: -8px 20px 0px 0px;
}
#twitter {
    width: 40px;
    margin-right: 18px;
}
#tiktok {
    width: 60px;
    margin-right: 11px;
}
#levelup {
    width: 45px;
    margin: -5px 0px 0px 5px;
}
#social p {
    font-size: 22px;
}
#emailus {
    margin: 10px 0px;
}
#emailus span,
#call span {
    color: blue;
}
.center {
    display: flex;
    justify-content: center;
}
#bottom-hr {
    width: 85%;
    border: 0.5px solid grey;
}

/* FOOTER */
footer {
    height: 125px;
    background-color: black;
    display: flex;
    flex-direction: column;
}
#top-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0px;
}
footer * {
    color: #fff;
}
#bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
    margin: 4px 25px;
}
#bottom-footer p {
    margin-bottom: 7.5px;
}
.right-bottom-fotter {
    text-align: start;
    margin-right: 60px;
}